
/**
 * ColorPicker
 */
button.colorpicker
{
	height: 16px;
	width: 16px;
	border: 1px solid black;
	top: -3px;
	position: relative;
}


/**
 * ImagePicker
 */
.imagePicker
{
	color: #333333;
	position: absolute;
	top: 30px;
	left: 50px;
	padding: 0px;
	width: 800px;
}
.imagePicker
{
	font-size: 12px;
}
.wrap { clear: both; }

	/**
	 * Titlebar
	 */
	.imagePicker .titleBar
	{
		position: relative;
		height: 62px;
		margin: 0;
		cursor: move;
	}
	.imagePicker .titleBar          { padding-left: 55px; background: url("images/imagepicker.titlebar.left.png") left bottom no-repeat; }
	.imagePicker .titleBar .wrapper { padding-right: 55px; background: url("images/imagepicker.titlebar.right.png") right bottom no-repeat; }
	.imagePicker .titleBar h1       { background: url("images/imagepicker.titlebar.center.png") right bottom repeat-x; }

	.imagePicker .titleBar h1
	{
		height: 62px;
		margin: 0;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		font-weight: normal;
	}
	.imagePicker .titleBar h1 span
	{
		display: block;
		padding-top: 40px;
		color: white;
	}
	.imagePicker .titleBar .buttons
	{
		position: absolute;
		right: 37px;
		top: 38px;
	}
	.imagePicker .titleBar .buttons .button
	{
		cursor: pointer;
	}
	.imagePicker .titleBar .buttons .close a
	{
		width: 15px;
		height: 16px;
		background: url("images/imagepicker.close.png");
		display: block;
	}
	.imagePicker .titleBar .buttons .close a span { display: none; }
	
	/**
	 * Content
	 */
	.imagePicker .content
	{
		background: url("images/imagepicker.content.left.png") left top repeat-y;
		padding-left: 27px;
	}
	.imagePicker .content .wrapper
	{
		background: url("images/imagepicker.content.right.png") right top repeat-y;
		padding-right: 27px;
	}
	.imagePicker .content .thumbnails
	{
		padding: 20px;
		background-color: #eeeeee;
		height: 400px;
		overflow: scroll;
		position: relative;
	}
	.imagePicker .content .thumbnail
	{
		width: 130px;
		border: 1px solid #cccccc;
		padding: 0 0 0;
		margin: 2px;
		cursor: pointer;
		float: left;
		position: relative;
		background-color: white;
	}

	.imagePicker .content .thumbnail .image
	{
		position: relative;
		width: 130px;
		height: 130px;
		background-color: white;
		vertical-align: middle;
	}
	.imagePicker .content .thumbnail .pattern
	{
		background: repeat top left;
	}
	.imagePicker .content .thumbnail .remove
	{
		background: no-repeat center;
	}
	.imagePicker .content .thumbnail .gradient img
	{
		width: 100%;
		height: 100%;
	}
	.imagePicker .content .thumbnail .image:hover
	{
		background-color: #dddddd;
	}
	.imagePicker .content .thumbnail .image img {
		max-width: 100%;
		max-height: 100%;
	}
	* html .imagePicker .content .thumbnail .image img {
		/* IE6 hack */
		width: 100%;
		height: 100%;
	}
	.imagePicker .content .thumbnail .description
	{
		font-size: 10px;
		padding: 2px 5px;
		border-top: 1px solid #dddddd;
		white-space: nowrap;
		overflow: hidden;
	}

	.imagePickerElements .imagePath
	{
		width: 130px;
	}

	/**
	 * Footer
	 */
	.imagePicker .footer
	{
		clear: both;
		background: url("images/imagepicker.footer.left.png") left top no-repeat;
		padding-left: 55px;
	}
	.imagePicker .footer .wrapper
	{
		background: url("images/imagepicker.footer.right.png") right top no-repeat;
		padding-right: 55px;
	}
	.imagePicker .footer .functions
	{
		background: url("images/imagepicker.footer.center.png") right top repeat-x;
		height: 62px;
	}
	.imagePicker .footer .size
	{
		padding-top: 8px;
		color: white;
		text-align: center;
	}
	.imagePicker .footer .size .slider,
	.imagePicker .footer .size .slider .handle
	{
		height: 20px;
		vertical-align: middle;
	}
	.imagePicker .footer .size .slider
	{
		background: url("images/imagepicker.slider.background.png") center no-repeat;
		width: 115px;
		display: inline-block;
		position: relative;
	}
	.imagePicker .footer .size .slider .handle
	{
		background: url("images/imagepicker.slider.handle.png") right top no-repeat;
		width: 20px;
		position: absolute; 
		cursor: move;
	}
	

