body
  font-family "Lato", arial, tahoma, sans-serif
  font-size 14px





#container
  width 600px
  margin 50px auto

  #main

    h1
    #get-the-source
      font-size 2em
      // font-family georgia
      font-style italic

    h1
      margin 30px 0
      font-size 40px
      font-weight normal

    a
      color blue



  footer
    margin-top 150px
    color #aaa
    text-align justify
    a
      color @color
